

$blue:    #040404;
$indigo:  #09090a;
$purple:  #070607;
$pink:    #0b0a0a;
$red:     #130f0f;
$orange:  #030303;
$yellow:  #020202;
$green:   #020202;
$teal:    #000000;
$cyan:    #070707;

@import "../../node_modules/bootstrap/scss/bootstrap";
